*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(2, 2, 133);
}

header{
    background-color: white;
    padding: 15px 0px;
}


.btn-play {
    border: none;
    background-color: blue;
    border-radius: 0px;
    color: white;
}

.btn-play:hover{
    background-color: rgb(1, 1, 139);
    color: white;
}

main {
    max-width: 1140px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

#grid{
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}

.square {
    width: 100px;
    height: 100px;
    background-color: grey;
    border: 1px solid ghostwhite;
}